body{
    margin: 0;
    background-color: rgb(244, 244, 242);
    font-family: NType82Mono-Regular;
    overflow-x: hidden;
}

@font-face {
    font-family: 'LetteraMonoLLCondLight-Regular';
    src: url('./LetteraMonoLLCondLight-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Ndot-55';
    src: url('./Ndot-55.otf') format('opentype');
}

@font-face {
    font-family: 'NType82-Regular';
    src: url('./NType82-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'NType82Mono-Regular';
    src: url('./NType82Mono-Regular.otf') format('opentype');
}


.phone2a{
   display: flex;
   flex-direction: row;
   position: relative;
}

.phone2a-image {
    width: 73.8%;
    height: 920px;
    overflow: hidden;
    background-image: url('./images/phone2a.jpg');
    background-size: cover;
    background-position: center center;
    z-index: 19;
}

.phone2a-text{
    font-size: 170px;
    font-family: Ndot-55;
    position: absolute;
    filter: invert(100%);
    top: -2%;
    left: -1%;
    writing-mode: vertical-lr;
    white-space: nowrap;
    z-index: 20;
}

.phone2a-section{
    margin: 670px 0px 0px 15px;
}
.phone2a-section p{
    font-size: 16px;
    font-family: NType82Mono-Regular;
}
.phone2a-learnmore{
    padding: 0px 100px;
    background-color: #002f6c;
    border: none;
    border-radius: 30px;
}
.phone2a-learnmore p{
    font-family: Arial;
    font-size: 14px;
    color: white;
    white-space: nowrap;
}

/* glyph section */

.glyph{
    display: flex;
    flex-direction: row;
    position: relative;
 }
.glyph-image {
    width: 77%;
    height: 920px;
    overflow: hidden;
    background-image: url('./images/glyphkit.png');
    background-size: cover;
    background-position: center center;
    z-index: 17;

}

.glyph-text{
    font-size: 170px;
    font-family: Ndot-55;
    position: absolute;
    top: -2%;
    left: -1%;
    color: white;
    writing-mode: vertical-lr;
    white-space: nowrap;
    z-index: 18;

}

.glyph-section{
    margin: 590px 0px 0px 15px;
    width: 400px;
}
.glyph-section p{
    font-size: 16px;
    font-family: NType82Mono-Regular;
}
.glyph-learnmore{
    padding: 0px 100px;
    background-color: #002f6c;
    border: none;
    border-radius: 30px;
}
.glyph-learnmore p{
    font-family: Arial;
    font-size: 14px;
    color: white;
    white-space: nowrap;
}



/* the100drops  */
.the100drops{
    display: flex;
    flex-direction: row;
    position: relative;
 }
.the100drops-image {
    width: 77%;
    height: 920px;
    overflow: hidden;
    background-image: url('./images/the100.jpg');
    background-size: cover;
    background-position: center center;
    z-index: 16;
}
.the100drops-text{
    font-size: 170px;
    font-family: Ndot-55;
    position: absolute;
    filter: invert(100%);
    top: -2%;
    left: -1%;
    writing-mode: vertical-lr;
    white-space: nowrap;
    z-index: 17;
}
.the100drops-section{
    margin: 570px 0px 0px 15px;
    width: 400px;
}
.the100drops-section p{
    font-size: 16px;
    font-family: NType82Mono-Regular;
}
.the100drops-learnmore{
    padding: 0px 100px;
    background-color: #002f6c;
    border: none;
    border-radius: 30px;
}
.the100drops-learnmore p{
    font-family: Arial;
    font-size: 14px;
    color: white;
}

/* Phone 2  */
.phone2{
    display: flex;
    flex-direction: row;
    position: relative;


 }
.phone2-image {
    width: 74%;
    height: 920px;
    overflow: hidden;
    background-image: url('./images/phone2.jpg');
    background-size: cover;
    background-position: center center;
    z-index: 15;

}
.phone2-text{
    font-size: 170px;
    font-family: Ndot-55;
    position: absolute;
    top: -2%;
    left: -1%;
    writing-mode: vertical-lr;
    white-space: nowrap;
    z-index: 16;
}
.phone2-section{
    margin: 590px 0px 0px 15px;
    width: 384px;
}
.phone2-section p{
    font-size: 16px;
    font-family: NType82Mono-Regular;
}
.phone2-learnmore{
    padding: 0px 100px;
    background-color: #002f6c;
    border: none;
    border-radius: 30px;
}
.phone2-learnmore p{
    font-family: Arial;
    white-space:nowrap;
    font-size: 14px;
    color: white;
}

/* Ear 2  */
.ear2{
    display: flex;
    flex-direction: row;
    position: relative;

 }
.ear2-image {
    width: 77%;
    height: 920px;
    overflow: hidden;
    background-image: url('./images/earbuds.png');
    background-size: cover;
    background-position: center center;
    z-index: 13;
    position: relative;


}
.ear2-text{
    font-size: 170px;
    font-family: Ndot-55;
    top: -2%;
    left: -1%;
    color: black;
    writing-mode: vertical-lr;
    white-space: nowrap;
    z-index: 14;
    position: absolute;
}
.ear2-section{
    margin: 610px 0px 0px 15px;
    width: 380px;
}
.ear2-section p{
    font-size: 16px;
    font-family: NType82Mono-Regular;
}
.ear2-learnmore{
    padding: 0px 100px;
    background-color: #002f6c;
    border: none;
    border-radius: 30px;
}
.ear2-learnmore p{
    font-family: Arial;
    white-space:nowrap;
    font-size: 14px;
    color: white;
}



/* Phone 1  */
.phone1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }
.phone1-image {
    width: 77%;
    height: 920px;
    overflow: hidden;
    background-image: url('./images/phone1.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.phone1-text{
    font-size: 170px;
    font-family: Ndot-55;
    position: absolute;
    top: -2%;
    left: -1%;
    color: black;
    writing-mode: vertical-lr;
    white-space: nowrap;
    z-index: 11;
    position: absolute;
}

.phone1-section{
    margin: 560px 0px 0px 15px;
    width: 380px;
}
.phone1-section p{
    font-size: 14px;
    font-family: NType82Mono-Regular;
}
.phone1-learnmore{
    padding: 0px 100px;
    background-color: #002f6c;
    border: none;
    border-radius: 30px;
}
.phone1-learnmore p{
    font-family: Arial;
    white-space:nowrap;
    font-size: 14px;
    color: white;
}

/* Ear Stick  */
.earstick{
    display: flex;
    flex-direction: row;
    position: relative;
 }
.earstick-image {
    width: 80%;
    height: 920px;
    overflow: hidden;
    background-image: url('./images/earstick.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    
}

.earstick-text{
    font-size: 170px;
    font-family: Ndot-55;
    position: absolute;
    top: -2%;
    left: -1%;
    color: black;
    writing-mode: vertical-lr;
    white-space: nowrap;
    z-index: 14;
    position: absolute;
}
.earstick-section{
    margin: 610px 0px 0px 15px;
    width: 395px;
}
.earstick-section p{
    font-size: 16px;
    font-family: NType82Mono-Regular;
}

/* quotes */


.quotes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}

.part1{
    font-size: 24px;
    font-weight: 600;
}

.part2{
    font-size: 20px;
    font-weight: 500;
}


/*Footer*/


.footer{

}

.footer-container{
    background-color: black;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-menu{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 1000px;
    line-height: 10px;
}

.menu4 button{
    font-family:NType82Mono-Regular ;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    color: white;
    border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 60px;
    border-radius: 15px;
}


.menu1,.menu2,.menu3 p{
   margin-right: 120px;  
   white-space: nowrap; 
}


.spacer{
    height: 80px;
    width: 100%;
    background-color: black;
}

.footer-final{
    height: 100px;
    width: 100%;
    background-color: black;
    box-shadow: 1px 0px 1px 1px white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;

}

.footer-policy{
    width: 700px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 13%;
}

.footer-logo{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.footer-logo img{
    width: 24px;
    height: 24px;
}

.footer-country{
  text-decoration: underline;
  color: white;
  margin-right: 13%;
  padding-top: 10px;

}